* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px Georgia, serif;
}
#page-wrap {
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}
section > div {
	padding: 20px;
}
header, nav, section {
	background: #eee;
	text-align: center;
}
footer {
	background: #eee;
	text-align: center;
}
nav span {
	margin: 0px 10px 0px 0px;
}
table{
	margin-left: auto;
	margin-right: auto;
}

#ErrorMsgs {
	color: #f61;
	font-size: smaller;
}

#retrato {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 280px;
	max-height: 280px;
	min-width: 200px;
	min-height: 200px;
	margin: auto;
}
#datos-autor{
	font-size: 1.16em;
	font-weight: bold;
}

.panel{
	background-color: LightGray;
	padding: 5px;
	margin: 5px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ebebeb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ebebeb;
	box-shadow:inset 0px 1px 0px 0px #ebebeb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2c2c2), color-stop(1, #949494));
	background:-moz-linear-gradient(top, #c2c2c2 5%, #949494 100%);
	background:-webkit-linear-gradient(top, #c2c2c2 5%, #949494 100%);
	background:-o-linear-gradient(top, #c2c2c2 5%, #949494 100%);
	background:-ms-linear-gradient(top, #c2c2c2 5%, #949494 100%);
	background:linear-gradient(to bottom, #c2c2c2 5%, #949494 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2', endColorstr='#949494',GradientType=0);
	background-color:#c2c2c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#5c5c5c;
	font-size: 0.8em;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	position: relative;
	transition: all 0.3s ease 0s;
	width: 50px;
	margin: 1px;
	outline: 0;
	cursor: default;
}
.myButton::-moz-focus-inner {border:0;}
.myButton:active {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #949494), color-stop(1, #c2c2c2));
	background:-moz-linear-gradient(top, #949494 5%, #c2c2c2 100%);
	background:-webkit-linear-gradient(top, #949494 5%, #c2c2c2 100%);
	background:-o-linear-gradient(top, #949494 5%, #c2c2c2 100%);
	background:-ms-linear-gradient(top, #949494 5%, #c2c2c2 100%);
	background:linear-gradient(to bottom, #949494 5%, #c2c2c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#c2c2c2',GradientType=0);
	background-color:#949494;
}
.myButton i {
	text-align: center;
	transition: all 0.3s ease 0s;
	font-size: 1.6em;
	margin: 2px;
}
.myButton span {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	opacity: 0;
	transition: all 0.3s ease 0s;
	font-size: 0.9em;
}
.myButton input:checked ~ i{
	color: red;
}
.btnAnimate:hover > i {
	opacity: 0.2;
}
.btnAnimate:hover span {
	opacity: 1;
	font-size: 1em;
}
.myButton:hover .hoverColorGreen {
	color: DarkGreen;
}
.myButton:hover .hoverColorRed {
	color: DarkRed;
}
.myButton:hover .hoverColorBlue {
	color: DarkBlue;
}
.btnWx2{
	width: 100px;
}
.btnHx2{
	height: 40px;
}
.btnHx2 i {
	font-size: 2.2em;
}
.btnAnimateSmall i {
	font-size: 1em;
}
.btnAnimateSmall span {
	font-size: 0.7em;
}
.btnAnimateSmall:hover > i {
	opacity: 0.2;
}
.btnAnimateSmall:hover span {
	opacity: 1;
	font-size: 0.8em;
}
.btnSmall span.btnSmall {
	font-size: 0.8em;
}
.btnToggle {
	width: 30px;
}
.btnToggleText {
	display: none;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked + i {
	color: LimeGreen;
}
input[type=text], input[type=password]{
	width: 180px;
}

.flexContainer {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
#btnFilter{
	height: 50px;
}

.right {
	float: right;
}
form {
	display: inline-block;
}

.statsTable td {
	background-color: white;
	border: 1px solid black;
	padding: 2px;
}