<h2>Login</h2>
<form method="POST" action="/login">
	<div class="field">
		<label for="login">Login:</label><br>
		<input type="text" id="login" name="login" size="30" placeholder="Nombre de usuario">
	</div>
	<div class="field">
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password" size="30" placeholder="Contraseña">
	</div>
	<div class="actions">
		<button name="commit" type="submit" value="Login" class="myButton btnAnimate btnWx2">
			<i class="fa fa-user hoverColorGreen"></i>
			<i class="fa fa-arrow-right hoverColorGreen"></i>
			<span class="hoverColorGreen">Login</span>
		</button>
	</div>
</form>